<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Here's the resume you requested!</h2>
    <p> {{user.name}}, <p>

    <p>Attached you will find your Enhancv resume. <p><br>

    <p>Unlock all power features and give your resume a power boost! Try our quarterly PRO plan. <p>

    <button><a style="text-decoration: none;" href="{{url_for('plans', _external=True)}}">SEE ENHANCV PLANS</a></button>

</body>
</html>